.wrapper {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
.list {
  border: 1px solid #ccc;
}
.list tr {
  padding: 5px;
  border: 1px solid #ccc;
}
.list td {
  padding: 5px;
  border: 1px solid #ccc;
}
.list td button {
  margin: 3px;
}
.wrapper div:last-child {
  display: flex;
  align-self: flex-end;
  font-size: 30px;
  margin: -30px;
}
