.wrapper {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
.list {
  border: 1px solid #ccc;
}
.list tr {
  padding: 5px;
  border: 1px solid #ccc;
}
.list td {
  padding: 5px;
  border: 1px solid #ccc;
}
.list td button {
  margin: 3px;
}
